*{
    margin: 0;
}

html{
    background-color: azure;
}

body{
    display: flex;
    flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

h1{
    text-align: center;
    font-size: 64px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gainsboro;
    padding: 20px;
    margin-bottom: 0%;
}

h2{
    font-size: 30px;
}


.navBar{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    margin-bottom: 1%;
}

.homePage{
    background: #ddd;     
    padding: 1rem;
    border: 1px black solid;
    border-bottom-width:  0px;
}

.homePage:hover{
    background-color: #bbb ;
}

.otherLinks{
    display: flex;
    justify-content: space-around;
    background: #bbb;
}

.otherLinks a{
    flex: 1;
    padding: 1rem;
    text-decoration: none;
    border: 1px black solid;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: black;
    background-color: #ddd;

}

main {
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    justify-content: space-between; 
    gap: 20px; 
    margin-bottom: 1%;
}

main article {
    flex: 1; 
    min-width: 250px; 
    padding: 10px;
    border: 2px black solid;
    border-radius: 8px;
    font-size: 24px;
}

.topMargin{
    margin-top: 20px;
}

.image{
    border: none;
}

img {
    width: 50vw; 
    height: auto;
}

figure{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gainsboro;
    padding: 20px;
}